@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap");
@media (prefers-color-scheme: light) {
  html {
    --primary: #4d57a9;
    --onPrimary: #ffffff;
    --primaryContainer: #dfe0ff;
    --onPrimaryContainer: #000a63;
    --secondary: #415aa9;
    --onSecondary: #ffffff;
    --secondaryContainer: #dce1ff;
    --onSecondaryContainer: #00164e;
    --tertiary: #006e24;
    --onTertiary: #ffffff;
    --tertiaryContainer: #6dff7f;
    --onTertiaryContainer: #002106;
    --error: #ba1a1a;
    --onError: #ffffff;
    --errorContainer: #ffdad6;
    --onErrorContainer: #410002;
    --background: #fffbff;
    --onBackground: #1b1b1f;
    --surface: #fffbff;
    --onSurface: #1b1b1f;
    --outline: #777680;
    --surfaceVariant: #e3e1ec;
    --onSurfaceVariant: #46464f;
    --md-sys-color-surface-container-highest: #e4e1e6;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    --primary: #bcc2ff;
    --onPrimary: #1b2678;
    --primaryContainer: #343e90;
    --onPrimaryContainer: #dfe0ff;
    --secondary: #b5c4ff;
    --onSecondary: #062978;
    --secondaryContainer: #274190;
    --onSecondaryContainer: #dce1ff;
    --tertiary: #31e45c;
    --onTertiary: #00390f;
    --tertiaryContainer: #005319;
    --onTertiaryContainer: #6dff7f;
    --error: #ffb4ab;
    --onError: #690005;
    --errorContainer: #93000a;
    --onErrorContainer: #ffdad6;
    --background: #1b1b1f;
    --onBackground: #e4e1e6;
    --surface: #1b1b1f;
    --onSurface: #e4e1e6;
    --outline: #91909a;
    --surfaceVariant: #46464f;
    --onSurfaceVariant: #c7c5d0;
    --md-sys-color-surface-container-highest: #343438;
    --md-sys-color-surface-container-high: #29292d;
    --md-sys-color-shadow: #000;
  }
}
html {
  --md-ref-typeface-plain: "Noto Sans Medium";
  --md-ref-typeface-brand: "Noto Sans Regular";
  --md-ref-typeface-weight-regular: 400;
  --md-sys-color-outline: var(--outline);
  --md-sys-color-surface: var(--surface);
  --md-sys-color-on-surface: var(--onSurface);
  --md-sys-color-on-surface-variant: var(--onSurfaceVariant);
  --md-sys-typescale-body-large-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-size: 16px;
  --md-sys-typescale-body-large-tracking: 0.5px;
  --md-sys-typescale-body-large-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-body-medium-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-size: 14px;
  --md-sys-typescale-body-medium-tracking: 0.25px;
  --md-sys-typescale-body-medium-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-body-small-font: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-size: 12px;
  --md-sys-typescale-body-small-tracking: 0.4px;
  --md-sys-typescale-body-small-weight: var(--md-ref-typeface-weight-regular);
  --md-sys-typescale-headline-small-font: var(--md-ref-typeface-brand);
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-size: 24px;
  --md-sys-typescale-headline-small-tracking: 0px;
  --md-sys-typescale-headline-small-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-shape-corner-none: 0px;
  --md-sys-shape-corner-extra-small: 4px;
  --md-sys-shape-corner-small: 8px;
  --md-sys-shape-corner-medium: 12px;
  --md-sys-shape-corner-large: 16px;
  --md-sys-shape-corner-extra-large: 28px;
  --md-sys-shape-corner-full: 50%;
  --textarea-width-outline: 1px;
  --md-sys-elevation-level0: 0px;
  --md-sys-elevation-level1: 1px;
  --md-sys-elevation-level2: 3px;
  --md-sys-elevation-level3: 6px;
  --md-sys-elevation-level4: 8px;
  --md-sys-elevation-level5: 12px;
}

body {
  color: var(--onBackground);
  background-color: var(--background);
  font-family: "Noto Sans JP";
}

.wrapper .container header h1.resource-title {
  position: relative;
  min-height: 46px;
  margin-bottom: 8px;
  padding: 0 128px 8px 40px;
  border-bottom: solid var(--textarea-width-outline) var(--md-sys-color-outline);
  font-size: 16px;
  line-height: 1.4;
}

.exercise .section-item.statement {
  font-size: var(--md-sys-typescale-body-large-size);
  font-family: var(--md-sys-typescale-body-large-font);
  font-weight: var(--md-sys-typescale-body-large-weight);
  letter-spacing: var(--md-sys-typescale-body-large-tracking);
  line-height: var(--md-sys-typescale-body-large-line-height);
  color: var(--md-sys-color-on-surface);
  overflow-y: hidden;
}

a,
a:hover,
a:visited {
  color: var(--primary);
}

.cCFDtC {
  color: var(--onSurfaceVariant) !important;
  background-color: var(--surfaceVariant);
}

.hJAERp {
  background-color: var(--surfaceVariant);
  border-color: var(--outline);
}

.jMWbpA {
  background: var(--surfaceVariant);
  box-shadow: var(--surfaceVariant) 0px -12px 12px;
}

.gFloFE,
.gNBbKO,
.umkoe {
  color: var(--onSurfaceVariant);
}

.gFloFE {
  border-bottom: 1px solid var(--outline);
}

.iQPBeH {
  border-color: var(--outline);
}

.huLnpP {
  border-left-color: var(--secondary);
}

.dmExPN:hover {
  background-color: var(--md-sys-color-surface-container-highest);
}

.bgJBOA {
  border-color: var(--outline);
}

.u-list-header {
  border: solid 0px var(--outline);
  border-top-left-radius: var(--md-sys-shape-corner-medium);
  border-top-right-radius: var(--md-sys-shape-corner-medium);
  border-width: 0 0 1px;
}

.u-card {
  border: solid 0px var(--outline);
  background-color: var(--md-sys-color-surface-container-highest);
  border-radius: var(--md-sys-shape-corner-medium);
  border-width: 0 0 0;
  box-shadow: none;
}

.typo-page-title {
  color: #dddddd;
}

.u-breadcrumbs > li > a,
.u-breadcrumbs > li > a:visited {
  color: #aaa;
}

.u-breadcrumbs > li.current > a,
.u-breadcrumbs > li.current:visited {
  color: #ccc;
}

.u-progress,
.dlCWCQ,
.grfyIa {
  background-color: var(--md-sys-color-surface-container-highest);
}

.u-progress > .u-progress-labels li {
  color: rgba(255, 255, 255, 0.8);
}

.mode-contents-watch > .l-wrapper .p-chapter-show .l-contents.p-chapters-show {
  border-top: solid 1px var(--outline);
}

html > .l-wrapper > .l-contents-wrapper .l-pre-contents,
body > .l-wrapper > .l-contents-wrapper .l-pre-contents {
  border-bottom: dotted 1px var(--outline);
}

.exercise .section-item.question-list .exercise-item {
  padding: 12px 8px 16px 16px;
  margin-bottom: 8px;
  min-height: 50px;
  border: 0px none transparent;
  border-radius: var(--md-sys-shape-corner-medium);
  background-color: var(--md-sys-color-surface-container-highest);
}

.exercise .section-item.question-list ul.answers li.answers-choice::before {
  border: solid 1px var(--outline);
}

.exercise .section-item li.answers-choice {
  border: 1px solid #333;
  background-color: #000;
}

.exercise .section-item.question-list ul.answers li.answers-choice:hover {
  background-color: #222;
}

.exercise .section-item.question-list ul.answers li.answers-choice.answers-selected {
  background-color: var(--primary);
  color: var(--onPrimary);
}

.exercise .section-item .type-descriptive .answers {
  border: solid 1px var(--outline);
  background: var(--background);
}

input[type=text],
textarea {
  color: var(--md-sys-color-on-surface) !important;
  font-family: var(--md-sys-typescale-body-large-font) !important;
  line-height: var(--md-sys-typescale-body-large-line-height) !important;
  font-size: var(--md-sys-typescale-body-large-size) !important;
  font-weight: var(--md-sys-typescale-body-large-weight) !important;
  letter-spacing: var(--md-sys-typescale-body-large-tracking) !important;
  border-radius: var(--md-sys-shape-corner-extra-small) !important;
  border-width: var(--textarea-width-outline) !important;
  border-color: var(--md-sys-color-outline) !important;
  transition: border-color linear 0.2s !important;
  background: inherit !important;
}

input[type=text] {
  padding: 0px 16px;
  min-height: 32px;
}

textarea {
  padding: 0px 16px;
  min-height: 56px;
}

input[type=text]:focus,
textarea:focus {
  border-color: var(--primary) !important;
}

input[type=text]::-moz-placeholder, textarea::-moz-placeholder {
  color: var(--md-sys-color-on-surface-variant);
  font-family: var(--md-sys-typescale-body-large-font);
  line-height: var(--md-sys-typescale-body-large-line-height);
  font-size: var(--md-sys-typescale-body-large-size);
  font-weight: var(--md-sys-typescale-body-large-weight);
  letter-spacing: var(--md-sys-typescale-body-large-tracking);
  -moz-transition: line-height linear 0.2s, font-size linear 0.2s, transform linear 0.2s;
  transition: line-height linear 0.2s, font-size linear 0.2s, transform linear 0.2s;
}

input[type=text]::placeholder,
textarea::placeholder {
  color: var(--md-sys-color-on-surface-variant);
  font-family: var(--md-sys-typescale-body-large-font);
  line-height: var(--md-sys-typescale-body-large-line-height);
  font-size: var(--md-sys-typescale-body-large-size);
  font-weight: var(--md-sys-typescale-body-large-weight);
  letter-spacing: var(--md-sys-typescale-body-large-tracking);
  transition: line-height linear 0.2s, font-size linear 0.2s, transform linear 0.2s;
}

input[type=text]:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  line-height: var(--md-sys-typescale-body-small-line-height);
  font-size: var(--md-sys-typescale-body-small-size);
  transform: translateY(-15px);
  color: var(--primary);
}

input[type=text]:focus::placeholder,
textarea:focus::placeholder {
  line-height: var(--md-sys-typescale-body-small-line-height);
  font-size: var(--md-sys-typescale-body-small-size);
  transform: translateY(-15px);
  color: var(--primary);
}

.exercise .section-item .type-descriptive.answer-area .counter {
  background-color: #000;
  border: 2px solid #333;
}

.exercise .section-item .type-descriptive .answers[data-correct=true] {
  background-color: hsl(140, 100%, 25%);
}

.answered .exercise .section-item.question-list ul.answers li.answers-choice.answers-selected[data-correct=true] {
  background-color: #00802b;
}

.u-progress > .u-progress-bar li.primary,
.gyjsPW {
  background-color: var(--tertiary);
}

.exercise .section-item.explanation {
  border: 1px solid #333;
  background-color: #000;
  color: #fffabc;
}

.u-modal-window > .modal-window-inner > .modal-window-content,
.fjHpWC {
  background-color: var(--background);
}

.u-button.type-warning-light {
  border: solid 1px var(--outline);
  background-color: var(--surface);
  color: var(error);
}

.u-button.type-accent {
  border: solid 1px #00802b;
  background-color: #00802b;
  color: #fff;
}

.ffsCvV {
  background-color: #333;
}

body.evaluation-test.state-clear .wrapper .container header h1.resource-title::before {
  background-image: url(//cdn.nnn.ed.nico/kokuban/assets/icon_exercise_clear-41a3b55819d2c86454aa..png);
  filter: brightness(0.7);
}

.kXUtWr {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border-bottom: 2px solid var(--primary);
}

div.global--wrapper {
  background-color: #000;
}

.p-chapter-show .l-column-common.section .u-filter {
  background-color: var(--surfaceVariant);
  border: solid 1px var(--outline);
}

.p-chapter-show .l-column-common.section .u-filter .u-filter-list .u-button {
  border: 1px solid #333;
  background-color: #000;
}

.p-chapter-show .l-column-common.section .u-filter .u-filter-list .u-filter-active {
  color: #ffffff;
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.p-chapter-show .l-column-common.section .u-filter .u-filter-icon-active {
  color: var(--primary);
}

.wrapper .footer {
  border-top: solid 3px #333;
  background-color: #000;
}

.u-button.type-primary-light {
  border: solid 1px var(--primary);
  background-color: #000;
  color: var(--primary);
  font-weight: 900;
}

.u-button.type-primary-light:hover {
  filter: none;
  background-color: var(--primary);
  color: #fff;
}

.u-list.has-linked-children > li > a:hover {
  background-color: rgba(255, 255, 255, 0.3333333333);
}

.fqhSVi {
  background-color: #000;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 2px 2px;
}

.jldkoT {
  width: 0;
  height: 0;
  font-size: 0;
}

.jldkoT::before {
  content: "";
  background-image: url(https://cdn.nnn.ed.nico/tenjin_pc/assets/ohtomi/zy-ci.44430eb9f81ec06d0d52.svg);
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 30px;
  width: 30px;
  filter: brightness(1.5);
}

.jldkoT::after {
  content: "";
  background-image: url(https://cdn.nnn.ed.nico/tenjin_pc/assets/ohtomi/zy-ci.44430eb9f81ec06d0d52.svg);
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  margin-left: 30px;
  height: 30px;
  width: 120px;
  filter: brightness(5);
}

.bmvrvB {
  background-color: rgb(0, 0, 0);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px, rgba(255, 255, 255, 0.2) 0px 0px 2px;
}

.iZAJQe {
  background-color: rgba(255, 255, 255, 0.19);
}

.kkhrgX {
  color: rgba(255, 255, 255, 0.8);
}

.fgCuGW {
  color: rgba(255, 255, 255, 0.8);
  background-color: #00802b;
}

.bytKQu {
  background-color: #000;
  color: #ddd;
}

.clACPn {
  color: #ccc;
}

.hlWFhk {
  color: #fff;
}

.dxDCXN {
  background-color: rgba(255, 255, 255, 0.19);
}

.jUbBVd:hover {
  background-color: rgba(255, 255, 255, 0.2666666667);
}

.bytKQu:hover {
  color: #fff;
}

.ddmgYS {
  color: #fff !important;
}

.ddmgYS:hover {
  color: #91a8ee !important;
}

.ddmgYS::after {
  background-color: #91a8ee;
}

.dkanrj::after {
  background-color: #91a8ee;
}

.jtppMY {
  background-color: #151515;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 0.5px 0.5px, rgba(255, 255, 255, 0.2) 0px 0px 1px;
}

.cVwVCB:last-child > :link,
.cVwVCB:last-child > :hover,
.cVwVCB:last-child > :visited {
  color: #bbb;
}

.iIDsKP {
  background-color: #000;
  border: 1px solid #000;
  color: #91a8ee;
}

.jALoIp:hover {
  background-color: #333;
}

.jALoIp:hover,
.jALoIp:active {
  filter: brightness(100%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #91a8ee;
}

.YtnXU {
  color: #91a8ee;
}

.eUJEzH {
  filter: brightness(4) hue-rotate(8deg);
}

.gvLOgf {
  background-color: #000;
  color: #ddd;
}

.lnaxQY {
  color: #fff;
}

.gvLOgf:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.kDpjBN {
  color: #fff;
}

.jmgKZl > :not(:first-child) {
  border-top: 1px solid #333;
}

.report-notice-body {
  background-color: #222;
}

li.movie.good {
  background: #005c1f;
  background: #000;
  border-bottom: solid 5px #005c1f !important;
}

.u-list.has-linked-children > li > a {
  color: #fff;
}

.p-chapter-show .l-column-common.section .u-list li.good .comprehension,
.p-chapter-show .l-column-common.section .u-list li.perfect .comprehension {
  color: #aaa;
  font-weight: bold;
}

.p-chapter-show .l-column-common.section .u-list li .textbook-info {
  color: #ccc;
  font-weight: bold;
}

.p-chapter-show .l-column-common.section .u-list li .content-amount {
  color: #ccc;
  font-weight: bold;
}

.u-list.has-linked-children > li {
  border: solid 1px #333;
}

.p-chapter-show .l-column-common.section .u-list li a.is-gate-closed::after {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6666666667) 0%, rgba(0, 0, 0, 0.6666666667) 100%);
}

li.essay-test a.is-gate-closed::after,
li.evaluation-test a.is-gate-closed::after {
  background-color: rgba(36, 43, 66, 0.8392156863);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #333;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 6px;
  border: solid 2px #333;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.mode-contents-watch > .l-wrapper .p-chapter-show .l-contents.p-chapters-show {
  overflow-y: scroll;
}

li.movie > a.is-selected {
  background: linear-gradient(90deg, #082 0%, #082 var(--movie-progress), rgb(0, 0, 0) var(--movie-progress), rgb(0, 0, 0) 100%);
  background: #000;
  border-bottom: solid 5px #000 !important;
  -o-border-image: linear-gradient(90deg, #082 0%, #082 var(--movie-progress), rgb(0, 0, 0) var(--movie-progress), rgb(0, 0, 0) 100%);
     border-image: linear-gradient(90deg, #082 0%, #082 var(--movie-progress), rgb(0, 0, 0) var(--movie-progress), rgb(0, 0, 0) 100%);
  border-image-slice: 1;
}

li.movie:has(> a.is-selected),
li.essay-test:has(> a.is-selected),
li.evaluation-test:has(> a.is-selected),
li.evaluation-report:has(> a.is-selected),
li.essay-report:has(> a.is-selected) {
  border-right: solid 3px var(--primary) !important;
}

.mode-contents-watch > .l-wrapper .p-chapter-show .l-contents.p-chapters-show .l-column-common.section .u-list li a.is-selected {
  border-right: solid 0px rgba(0, 0, 0, 0) !important;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
}

li.evaluation-test.good,
li.essay-test.good {
  background: #435589;
  background: #000;
  border-bottom: solid 5px #435589 !important;
}

li.essay-test.now,
li.evaluation-test.now {
  background: linear-gradient(90deg, rgba(85, 102, 170, 0.2666666667), rgba(85, 102, 170, 0.8666666667), rgba(85, 102, 170, 0.2666666667));
}

li.essay-test:has(> a.is-selected),
li.evaluation-test:has(> a.is-selected),
li.essay-report:has(> a.is-selected),
li.evaluation-report:has(> a.is-selected) {
  background: linear-gradient(90deg, rgba(85, 102, 170, 0.2666666667), rgba(85, 102, 170, 0.8666666667), rgba(85, 102, 170, 0.2666666667));
}

@keyframes loading {
  0% {
    background-position-x: 450px;
  }
  100% {
    background-position-x: 0px;
  }
}
.exercise .section-item .type-descriptive.answer-area[data-status=initial][data-focus=true] input,
.exercise .section-item .type-descriptive.answer-area[data-status=initial][data-focus=true] input:focus,
.exercise .section-item .type-descriptive.answer-area[data-status=initial][data-focus=true] input:focus-visible,
.exercise .section-item .type-descriptive.answer-area[data-status=initial][data-focus=true] textarea,
.exercise .section-item .type-descriptive.answer-area[data-status=initial][data-focus=true] textarea:focus,
.exercise .section-item .type-descriptive.answer-area[data-status=initial][data-focus=true] textarea:focus-visible {
  border: 2px solid var(--primary);
  box-shadow: 0 0 0 1px var(--primary);
}

.exercise .badge-image.badge-image-solved {
  filter: invert(1) hue-rotate(187deg) brightness(1.55);
  display: none;
}

.exercise-item:has(.badge-image.badge-image-solved) {
  background-color: var(--md-sys-color-surface) !important;
  border-color: var(--md-sys-color-outline) !important;
  border-style: solid !important;
  border-width: 1px;
}

body.evaluation-test .wrapper .container header h1.resource-title::before {
  filter: invert(1) hue-rotate(187deg) brightness(1.55);
}

ul.u-list a {
  filter: none;
}

.exercise .section-item.question-list .question {
  position: relative;
  font-family: var(--md-sys-typescale-body-medium-font);
  line-height: var(--md-sys-typescale-body-medium-line-height);
  font-size: var(--md-sys-typescale-body-medium-size);
  font-weight: var(--md-sys-typescale-body-medium-weight);
  letter-spacing: var(--md-sys-typescale-body-medium-tracking);
  color: var(--md-sys-color-on-surface-variant);
}/*# sourceMappingURL=Dolphone_renewed_style.css.map */